:root {
  --hero-color: #ffdfdf;
  --hero-text-color: #606470;
  --hero-button-color: #bae5d5;
  --heading-font-family: "Georama", sans-serif;
  --button-color: #bee4d2;
}

h1,
h2 {
  color: #606470;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #606470;
}

p {
  font-family: var(--heading-font-family);
  font-weight: normal;
  color: #606470;
}

.hero {
  background: var(--hero-color);
  text-align: center;
  padding: 160px 20px;
}

.main {
  background: var(--hero-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  margin: 0;
}

.btn-primary {
  background: var(--hero-button-color);
  border-radius: 4px;
  color: #757a79;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-color: var(--hero-button-color);
}

.btn-primary:hover {
  background: white;
  border-color: white;
  color: var(--hero-button-color);
}

.projects {
  font-size: 38px;
}

.btn-projects {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border: 1px solid var(--button-color);
  background: #bee4d2;
  color: #757a79;
}

.btn-projects:hover {
  background: white;
  border-color: white;
  color: var(--hero-button-color);
}

.project-header {
  text-align: center;
  font-size: 28px;
}

.product-description {
  padding: 120px 60px;
}

.main {
  padding: 60px 20px;
}

.main h1 {
  font-size: 44px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}

.main h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}

.main {
  margin: 30px;
}

.about {
  max-width: 75%;
  max-height: 75%;
}

.contact-header {
  font-size: 44px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}

.contact a {
  font-size: 28px;
  line-height: 27px;
  padding: 12px 20px;
  border: 1px solid var(--button-color);
  background: #bee4d2;
  color: #757a79;
  text-decoration: none;
  border-radius: 4px;
}

.logo {
  max-width: 250px;
  margin-top: 0;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--hero-text-color);
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--hero-button-color);
}

nav li.active a {
  color: var(--hero-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  .hero {
    padding: 80px 20px;
  }

  .product-description {
    padding: 0;
    text-align: center;
  }
  .main {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 14px;
  }

  .logo {
    max-width: 55%;
    max-height: 55;
  }

  nav li {
    margin-left: 8px;
  }
}
